
.addNewContactContainer {
    padding: 13px;
    background-color: lightgray;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.addNewContactContainer[data-active="true"] {
    justify-content: space-between;
    cursor: default;
}

.newContactInfoContainer {
    display: flex;
    align-items: flex-start;
    column-gap: 15px;
}

.newContactInfo {
    display: flex;
    align-items: flex-start;
    row-gap: 5px;
    flex-direction: column;
}

.newContactButtons {
    display: flex;
    align-items: center;
    column-gap: 5px;
}